:root {
  --site-w: 1160px;
  --site-padding: 20px;
  --space: 20px;
  --ship-size: 40px;
  --color-blue: #6495ed;
  --color-red: #e57e7e;
  --color-dark: #4D4E5B;
  --color-light: #F0F0F1;
  --color-gray: #C6C6CC;
  --color-green: #49cb8f;
}

body {
  font-family: 'Roboto', 'Arial', sans-serif;
  min-height: 100vh;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  font-size: 1rem;
}

body * {
  box-sizing: border-box;
  line-height: normal;
}

.container {
  margin: 0 auto;
  max-width: var(--site-w);
  padding: var(--site-padding);
}

.main {
  display: grid;
  grid-template-columns: 1fr 200px;
  gap: var(--space);
}

@media screen and (max-width: 1199.98px) {
  .main {
    grid-template-columns: auto;
  }
}

.space__header {
  margin: 0 calc(var(--space) * 2);
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-dark);
  fill: var(--color-dark);
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.space__header svg {
  width: 32px;
  height: 32px;
}

.space__header--enemy {
  color: var(--color-red);
}

.space__header--player {
  color: var(--color-blue);
}

.space__wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space);
  min-width: calc(var(--ship-size) * 11);
}

@media screen and (max-width: 991.98px) {
  .space__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.space__inner-wrap {
  display: grid;
  grid-template-columns: 40px 1fr;
}

@media screen and (max-width: 575.98px) {
  .space__inner-wrap {
    grid-template-columns: 40 1fr;
  }
}

.space__box--player .space__fight-item:hover {
  background: var(--color-light) !important;
  transform: unset !important;
}

.space__number-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, var(--ship-size));
  padding-left: var(--ship-size);
  height: var(--ship-size);
}

@media screen and (max-width: 575.98px) {
  .space__number-list {
    padding-left: calc(var(--ship-size) + 15px);
  }
}

.space__number-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--color-dark);
}

@media screen and (max-width: 575.98px) {
  .space__number-item {
    font-size: .8rem;
  }
}

.space__latter-list {
  display: inline-flex;
  flex-direction: column;
}

.space__latter-item {
  width: var(--ship-size);
  height: var(--ship-size);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--color-dark);
}

@media screen and (max-width: 575.98px) {
  .space__latter-item {
    font-size: .8rem;
  }
}

.space__fight-wrap {
  max-width: calc(var(--ship-size) * 10);
  min-width: calc(var(--ship-size) * 10);
}

.space__fight-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, var(--ship-size));
}

.space__fight-item {
  width: var(--ship-size);
  height: var(--ship-size);
  background: var(--color-light);
  box-shadow: inset 0 0 1px var(--color-dark);
  position: relative;
  transition: transform .3s;
}

.space__fight-item:hover:not([data-has-clicked]) {
  background: var(--color-green);
  transform: rotate(90deg);
}

.space__fight-item--miss:before {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: var(--color-gray);
}

@media screen and (max-width: 575.98px) {
  .space__fight-item--miss:before {
    width: 15px;
    height: 15px;
  }
}

.space__fight-item--damage:before, .space__fight-item--damage:after {
  position: absolute;
  content: '';
  width: 22px;
  height: 4px;
  border-radius: 8px;
  background-color: var(--color-dark);
  top: 19px;
  left: 9px;
}

@media screen and (max-width: 575.98px) {
  .space__fight-item--damage:before, .space__fight-item--damage:after {
    top: 11px;
    left: 2px;
  }
}

.space__fight-item--damage:before {
  transform: rotate(45deg);
}

.space__fight-item--damage:after {
  transform: rotate(-45deg);
}

.space__fight-item--killed:before {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: var(--color-red);
}

@media screen and (max-width: 575.98px) {
  .space__fight-item--killed:before {
    width: 15px;
    height: 15px;
  }
}

@media screen and (max-width: 1199.98px) {
  .ships {
    order: -1;
  }
}

.ships__list {
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--space) / 2);
}

@media screen and (max-width: 1199.98px) {
  .ships__list {
    justify-content: center;
  }
}

.ships__item {
  height: var(--ship-size);
  min-width: var(--ship-size);
  max-width: 300px;
  background: var(--color-green);
  cursor: grab;
}

@media screen and (max-width: 575.98px) {
  :root {
    --site-w: 1160px;
    --site-padding: 20px;
    --space: 10px;
    --ship-size: 25px;
  }
}
