.space {
	&__header {
		margin: 0 calc(var(--space) * 2);
		font-weight: bold;
		text-transform: uppercase;
		color: var(--color-dark);
		fill: var(--color-dark);

		display: inline-flex;
		align-items: center;
		gap: 10px;

		& svg {
			width: 32px;
			height: 32px;
		}

		&--enemy {color: var(--color-red)}
		&--player {color: var(--color-blue)}
	}
	&__wrap {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: var(--space);

		min-width: calc(var(--ship-size) * 11);

		@media screen and (max-width: $bp-md) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
	&__inner-wrap {
		display: grid;
		grid-template-columns: 40px 1fr;

		@media screen and (max-width: $bp-xsm) {
			grid-template-columns: 40 1fr;
		}
	}
	&__box {
		&--enemy {}
		&--player .space__fight-item:hover {
			background: var(--color-light) !important;
			transform: unset !important;
		}
	}

	// numbers
	&__number-list {
		display: grid;
		grid-template-columns: repeat(auto-fit, var(--ship-size));

		padding-left: var(--ship-size);
		height: var(--ship-size);

		@media screen and (max-width: $bp-xsm) {
			padding-left: calc(var(--ship-size) + 15px);
		}
	}
	&__number-item {
		display: inline-flex;
		align-items: center;
		justify-content: center;

		font-weight: bold;
		font-size: 1.2rem;
		color: var(--color-dark);

		@media screen and (max-width: $bp-xsm) {
			font-size: .8rem;
		}
	}

	// latters
	&__latter-list {
		display: inline-flex;
		flex-direction: column;
	}
	&__latter-item {
		width: var(--ship-size);
		height: var(--ship-size);

		display: inline-flex;
		align-items: center;
		justify-content: center;

		font-weight: bold;
		font-size: 1.2rem;
		color: var(--color-dark);

		@media screen and (max-width: $bp-xsm) {
			font-size: .8rem;
		}
	}

	// fight
	&__fight-wrap {
		max-width: calc(var(--ship-size) * 10); // box 40x40, box count 10
		min-width: calc(var(--ship-size) * 10); // box 40x40, box count 10
	}
	&__fight-list {
		display: grid;
		grid-template-columns: repeat(auto-fit, var(--ship-size));
	}
	&__fight-item {
		width: var(--ship-size);
		height: var(--ship-size);
		background: var(--color-light);
		box-shadow: inset 0 0 1px var(--color-dark);

		position: relative;
		transition: transform .3s;

		&:hover:not([data-has-clicked]) {
			background: var(--color-green);
			transform: rotate(90deg);
		}

		&--miss {
			&:before {
				position: absolute;
				content: '';
				width: 20px;
				height: 20px;
				// top: 10px;
				// left: 10px;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				border-radius: 50%;
				background-color: var(--color-gray);

				@media screen and (max-width: $bp-xsm) {
					width: 15px;
					height: 15px;
				}
			}
		}
		&--damage {
			&:before, &:after {
				position: absolute;
				content: '';
				width: 22px;
				height: 4px;
				border-radius: 8px;
				background-color: var(--color-dark);
				top: 19px;
				left: 9px;

				@media screen and (max-width: $bp-xsm) {
					top: 11px;
					left: 2px;
				}
			}
			&:before {
				transform: rotate(45deg);
			}
			&:after {
				transform: rotate(-45deg);
			}
		}
		&--killed {
			&:before {
				position: absolute;
				content: '';
				width: 20px;
				height: 20px;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				border-radius: 50%;
				background-color: var(--color-red);

				@media screen and (max-width: $bp-xsm) {
					width: 15px;
					height: 15px;
				}
			}
		}
	}
}
